.board-box {
    width: 80px;
    height: 80px;
    background-color: rgb(212, 79, 206);
    border: 1px black solid;
    margin: 1px;
    border-radius: 5px;
    text-align: center;
    line-height: 80px;
    font-weight: 600;
    font-size: larger;
}

h1, h2{
    /* margin: auto; */
    width: -moz-fit-content;
    width: fit-content;
    margin: 15px auto;
}

.board-row {
    display: flex;
}

.board {
    border: 2px black solid;;
    padding: 2px;
    margin: auto;
    width: -moz-fit-content;
    width: fit-content;
}

.board-box-high {

    background-color: rgba(111, 30, 216, 0.883);
}